.milan {
	margin: 0px auto;
	max-width: 1366px;
}

.back {
	background-image: url(../assets/milan_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	width: 1366px;
	position: absolute;
	z-index: -1;
	filter: blur(3px);
}

.header {
	padding: 50px 0px;
}

.milan-link {
	float: left;
}

a {
	text-decoration: none;
}
.logo__holidays {
	position: relative;
}

.logo__holidays > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 14pt;
	color: white;
	text-align: left;
}

.logo span {
	text-transform: uppercase;
	font-weight: 500;
}

.logo {
	height: max-content;
}
.logo__title {
	width: 104px;
	height: 44px;
	float: left;
	margin-left: 15px;
}

.logo__ic {
	background-image: url(../assets/logo.png);
	width: 46px;
	height: 44px;
	position: relative;
	float: left;
}

.logo__milan > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 24pt;
	color: white;
	text-align: left;
}

.milan-link:hover .logo__ic {
	background-image: url(../assets/logo_hover.png);
}

.milan-link:hover #milan,
.milan-link:hover #holidays {
	color: #f26522;
}

.contacts {
	margin-top: 10px;
	float: right;
}

.contacts span {
	display: block;
	color: white;
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 13pt;
	text-align: right;
}

.content_margin {
	width: 1065px;
	margin: 0px auto;
}

.content {
	margin: 0px auto;
}

.content__items {
	width: 305px;
	height: 200px;
	float: left;
	margin-right: 70px;
	margin-bottom: 100px;
}

.content__items:nth-child(3n) {
	margin-right: 0px;
}

.content__items:hover .content__title {
	color: #f26522;
}

.content__items img {
	border: 2px solid white;
	border-image: linear-gradient(white, rgba(0, 0, 0, 0)) 10 100;
	border-top: 2px solid white;
}

.content__title {
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 13pt;
	color: white;
	display: block;
	text-align: center;
	font-weight: 540;
}

.content__pop-up {
	opacity: 0;
	width: 102.3%;
	height: 0px;
	background-color: #f26522;
	position: relative;
	margin: 0px auto;
	bottom: 25px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
}

.content__items:hover .content__pop-up {
	opacity: 1;
	width: 102.3%;
	height: 63px;
	bottom: 88px;
}

.content__pop-up__left-side {
	margin: 16px 20px;
	float: left;
}

.content__from {
	display: block;
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 12pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.content__price {
	display: inline-block;
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 18pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.content__right-side__view_details {
	position: relative;
	float: right;
	text-align: right;
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 12pt;
	color: rgba(255, 255, 255, 255);
	top: 35px;
	right: 18px;
}

.content__right-side__view_details::after {
	content: ">";
	opacity: 0.7;
	font-weight: 700;
	margin-left: 15px;
}

.footer__text {
	font-family: AdobeInvisFont, Verdana, Courier, sans-serif;
	font-size: 12pt;
	color: white;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

@font-face {
	font-family: "Verdana-Bold";
	src: url("../assets/Verdana-Bold.ttf") format("truetype");
	font-style: bol;
	font-weight: bold;
}

@font-face {
	font-family: "Verdana";
	src: url("../assets/Verdana.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
