.milan {
	width: 1366px;
	height: 768px;
	margin: 0px auto;
	vertical-align: center;
	border: 1px solid black;
	background-image: url(../assets/bg.png);
}

.logo {
	margin-top: 49px;
	margin-left: 155px;
}
