.milan {
	width: 1366px;
	margin: 0px 265px;
	/* margin: 0px auto; */

	position: absolute;
}

.back {
	background-image: url(../assets/milan_bg.jpg);
	background-repeat: no-repeat;

	background-size: cover;
	z-index: 1;
	height: 750px;
	width: 100%;
	position: absolute;
	z-index: -1;
	filter: blur(5px);
}

.bg {
	filter: blur(2px);
	width: 1366px;
	background-repeat: none;
	height: 750px;
	float: none;
	position: absolute;
	z-index: 4;
}

.milan-link {
	float: left;
}

a {
	text-decoration: none;
}
.logo__holidays {
	position: relative;
	bottom: 10px;
}

.logo__holidays > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 14pt;
	color: white;
	text-align: left;
}

.logo span {
	text-transform: uppercase;
	font-weight: 500;
}

.logo {
	margin-top: 60px;
	margin-left: 150px;
	position: relative;
}
.logo__title {
	width: 104px;
	height: 44px;
	float: left;
	position: relative;
	margin-left: 15px;
}

.logo__milan {
	position: relative;
	size: content;
}

.logo__ic {
	background-image: url(../assets/logo.png);
	width: 46px;
	height: 44px;
	position: relative;
	float: left;
}

.logo__milan > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 24pt;
	color: white;
	text-align: left;
}

.milan-link:hover .logo__ic {
	background-image: url(../assets/logo_hover.png);
}

.milan-link:hover #milan,
.milan-link:hover #holidays {
	color: #f26522;
}

.contacts {
	filter: blur(0px);
	float: right;
	margin-top: 60px;
	margin-right: 150px;
	position: relative;
	z-index: 6;
}

.contacts span {
	display: block;
	color: white;
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 13pt;
	text-align: right;
}

.content {
	size: content;
	position: relative;
	margin: 140px auto 60px auto;
	width: 1070px;
	height: 504px;
}

.content__items {
	width: 305px;
	height: 200px;
	float: left;
	margin-right: 69px;
	margin-bottom: 60px;
}

.content__items:hover .content__title {
	color: #f26522;
}

.content__items img {
	border: 2px solid white;
	border-image: linear-gradient(white, rgba(0, 0, 0, 0)) 10 100;
	border-top: 2px solid white;
}

.content__items:nth-child(3n) {
	margin-right: 0px;
}

.clear {
	clear: both;
}

.content__item1 {
	src: url(../assets/01.png);
	position: relative;
}

.content__item2 {
	src: url(../assets/02.png);
}

.content__item3 {
	src: url(../assets/03.png);
}

.content__item4 {
	src: url(../assets/04.png);
}

.content__item5 {
	src: url(../assets/05.png);
}

.content__item6 {
	src: url(../assets/06.png);
}

.content__title {
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 13pt;
	color: white;
	display: block;
	text-align: center;
	font-weight: 540;
}

.footer__text {
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 12pt;
	color: white;
	display: block;
	text-align: center;
}

.content__pop-up {
	opacity: 0;
	width: 102.3%;
	height: 0px;
	background-color: #f26522;
	position: relative;
	margin: 0px auto;
	bottom: 25px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	overflow: hidden;
}

.content__items:hover .content__pop-up {
	opacity: 1;
	width: 102.3%;
	height: 63px;
	bottom: 88px;
}

.content__pop-up__left-side {
	margin: 16px 20px;
	float: left;
}

.content__from {
	display: block;
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 12pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.content__price {
	display: inline-block;
	font-family: AdobeInvisFont, Courier, Verdana;
	font-size: 18pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.content__right-side__view_details {
	position: relative;
	float: right;
	text-align: right;
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 12pt;
	color: rgba(255, 255, 255, 255);
	top: 35px;
	right: 18px;
}

.content__right-side__view_details::after {
	content: ">";
	opacity: 0.7;
	font-weight: 700;
	margin-left: 15px;
}

.footer__text {
	margin-bottom: 20px;
}
