.milan {
	width: 1366px;
	height: 768px;
	margin: 0px auto;
	vertical-align: center;
	border: 1px solid black;
	background-image: url(../assets/bg.png);
}

.milan-link {
	display: inline-block;
}

a {
	text-decoration: none;
}

.content_margin {
	margin: 0px 70%;
}

.logo {
	margin-top: 60px;
	margin-left: 165px;
	position: relative;
}

.logo__ic {
	background-image: url(../assets/01.png);
	width: 46px;
	height: 44px;
	position: relative;

	float: left;
}

.logo__title {
	border: 1px solid red;
	width: 104px;
	height: 44px;
	float: left;
	position: relative;
	margin-left: 15px;
}

.logo__milan {
	position: relative;
	size: content;
}

.logo__milan > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 24pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.logo__holidays {
	position: relative;
	bottom: 10px;
}

.logo__holidays > span {
	font-family: AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
	font-size: 14pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.logo span {
	text-transform: uppercase;
	font-weight: 500;
}

.contacts {
	display: inline-block;
}

.contacts span {
	display: block;
	color: white;
	font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
	font-size: 13pt;
	text-align: right;
}

.content {
	size: content;
	position: relative;
	margin: 140px auto;
	/* padding-left: 25px; */
	width: 1107px;
	height: 504px;

	/* margin-left: 140px; */
}

.content__item {
	width: 300px;
	height: 200px;
	background-color: red;
	float: left;

	margin-right: 69px;
	margin-bottom: 20px;
}

.clear {
	clear: both;
}
