.ramda {
	width: 1280px;
	margin: 100px 60px;
}

.header-title {
	margin: 60px 0px 0px 100px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 50pt;
	color: rgba(0, 0, 0, 255);
}

.header-title__second {
	color: #4bcaff;
}

.header-navBar {
	display: block;
	background: #35444f;
	text-align: center;
}

.header-navBar__item {
	display: inline-block;
	padding: 20px 20px;
}

.header-navBar__item:hover {
	background-color: #222f3a;
}

.header-navBar__link {
	text-decoration: none;
	color: white;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 16pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

/* .content { */
/* margin: 0px 100px; */
/* } */

.content-menu__list {
	list-style: none;
	padding-left: 0px;
	display: inline-block;
	/* padding-left: 40px; */
	/* padding-right: 25px; */
	/* width: 100%;  */
	/* left: 30px; */
}

.content-menu__item {
	padding: 20px 0px;
	margin: 0px 0px;
	display: block;
	width: 100%;
}

.content-menu__item:hover {
	background-color: #dbdbdb;
}

.content-menu__item:hover .content-menu_link {
	background-color: #dbdbdb;
	padding: 0px 0px 0px 68px;
	color: black;
}

.content-menu_link {
	padding: 0px 40px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 16pt;
	color: #495863;
	text-align: left;
	text-decoration: none;
}

.content-menu {
	display: inline-block;
	border: 1px solid black;
	width: 344px;
	height: 399px;
}

.content-content {
	display: inline-block;
	vertical-align: top;
	width: 885px;
	align-content: center;
	margin-left: 40px;
	margin-right: 0px;
	display: inline-block;
}

.content-content__image {
	background-image: url(../assets/01.png);
	width: 850px;
	height: 529px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
	float: right;
}

.content-content__description {
	padding: 30px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 14pt;
	color: rgba(44, 44, 44, 255);
	text-align: left;
	margin-left: 60px;
}

.footer {
	background-color: #b4b7ba;
	padding: 15px 0px;
}

.footer-list {
	list-style-type: none;
	display: inline-block;
	width: 809px;
}

.footer-item {
	display: inline-block;
	padding-right: 15px;
}

.footer-item a {
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 16pt;
	color: rgba(12, 25, 39, 255);
	text-align: left;
	text-decoration: none;
}

.footer-item:hover a {
	text-decoration: underline;
	color: #15b4f8;
}

.footer__copy-span {
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
	font-size: 15pt;
	color: rgba(1, 1, 1, 255);
	text-align: right;
	margin-left: 200px;
	/* display: inline; */
}
