.wrap {
	width: 1480px;
	border: 1px solid black;
	margin: 0px auto;
}

.ramda {
	width: 1280px;
	margin: 0px auto;
}

.header-title {
	margin: 61px auto 45px 0px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 50pt;
	color: rgba(0, 0, 0, 255);
}

.header-title__second {
	color: #4bcaff;
}

.header-navBar {
	display: block;
	background: #35444f;
	text-align: center;
}

.header-navBar__item {
	display: inline-block;
	padding: 20px 20px;
}

.header-navBar__item:hover {
	background-color: #222f3a;
}

.header-navBar__link {
	text-decoration: none;
	color: white;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 16pt;
	color: rgba(255, 255, 255, 255);
	text-align: left;
}

.content-menu__list {
	list-style: none;
	padding-left: 0px;
	width: 100%;
	display: inline-block;
}

.content-menu__item {
	padding: 20px 0px;
	margin: 0px 0px;
	display: block;
	width: 100%;
}

.content-menu__item:hover {
	background-color: #dbdbdb;
}

.content-menu__item:hover .content-menu_link {
	background-color: #dbdbdb;
	display: block;
	/* padding: 0px 0px 0px 68px; */
	margin-left: 30px;
	color: black;
}

.content-menu_link {
	padding: 0px 40px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 16pt;
	color: #495863;
	text-align: left;
	text-decoration: none;
}

.content-menu {
	display: inline-block;
	border: 1px solid black;
	width: 342px;
	height: 399px;
	margin-right: 45px;
	background-color: #fff;
}

.content-content {
	display: inline-block;
	vertical-align: top;
	width: 885px;
	align-content: center;
	display: inline-block;
}

.content-content__image {
	background-image: url(../assets/01.png);
	width: 885px;
	height: 529px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid black;
	margin: 0px;
	padding: 0px;
}

.content-content__description {
	padding: 30px;
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 14pt;
	color: rgba(44, 44, 44, 255);
	text-align: left;
	margin-left: 60px;
}

.footer {
	background-color: #b4b7ba;
	padding: 15px 0px;
}

.footer-list {
	list-style-type: none;
	display: inline-block;
	width: 809px;
}

.footer-item {
	display: inline-block;
	padding-right: 15px;
}

.footer-item a {
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 16pt;
	color: rgba(12, 25, 39, 255);
	text-align: left;
	text-decoration: none;
}

.footer-item:hover a {
	text-decoration: underline;
	color: #15b4f8;
}

.footer__copy-span {
	font-family: AdobeInvisFont, Courier, MyriadPro-Regular, sans-serif;
	font-size: 15pt;
	color: rgba(1, 1, 1, 255);
	text-align: right;
	margin-left: 200px;
}

a {
	text-decoration: none;
}
